* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

:root {
  font-size: 10px;
}

p {
  color: #313131;
}

.section__subheading {
  font-size: calc(14px + 0.2rem);
  text-transform: uppercase;
  color: #B80000;
}
.section__heading {
  font-weight: 600;
  font-size: 30px;
}
.section__underline {
  color: #B80000;
}

.mobile-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  z-index: 3;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 8px;
  background-color: #fff;
}
.mobile-nav__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  height: 100%;
  padding: 0 2rem;
}
.mobile-nav__logo {
  max-width: 100px;
}
.mobile-nav__hamburger-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.mobile-nav__hamburger-icon {
  max-width: 40px;
  cursor: pointer;
}
.mobile-nav__menu {
  position: absolute;
  left: -100%;
  height: 100vh;
  width: 70%;
  max-width: 250px;
  background-color: #fff;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
  transition: 0.3s ease-in-out;
  z-index: 2;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 8px;
}
.mobile-nav__menu--active {
  left: 0;
}
.mobile-nav__close {
  position: absolute;
  top: 2rem;
  right: 2rem;
  font-size: 2rem;
  color: #000;
  cursor: pointer;
  max-width: 32px;
}
.mobile-nav__menu-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  list-style: none;
  gap: 2rem;
  padding-left: 0;
}
.mobile-nav__link {
  font-size: calc(14px + 0.1rem);
  font-weight: 600;
  color: #000;
  text-decoration: none;
  position: relative;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
.mobile-nav__link:hover {
  color: #B80000;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background-color: #fff;
  z-index: 3;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 8px;
  display: none;
}
.nav__wrapper {
  display: flex;
  max-width: 1300px;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  height: 100%;
  padding: 0 2rem;
}
.nav__logo {
  width: 100px;
}
.nav__menu {
  display: flex;
  align-items: center;
  padding-left: 0;
  gap: 3rem;
  list-style: none;
}
.nav__link {
  color: #000;
  text-decoration: none;
  font-size: calc(16px + 0.1rem);
  letter-spacing: 0.03rem;
  font-weight: 600;
  position: relative;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
.nav__link:hover {
  color: #B80000;
}
.nav__link--last {
  padding: 1rem;
  color: #B80000;
  border: 2px solid #B80000;
  border-radius: 1.2rem;
  transition: 0.3s ease-in-out;
}
.nav__link--last:hover {
  background-color: #B80000;
  color: #fff;
}

.hero {
  background-color: #f8f8f8;
  width: 100%;
  height: 85vh;
  background-image: url(/images/tlo3.jpg?6bffb32b6612e6335ddc8f482debf052);
  background-position: center;
  background-size: cover;
  position: relative;
}
.hero::after {
  content: "";
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6));
  position: absolute;
  top: 0;
  left: 0;
}
.hero__wrapper {
  position: relative;
  max-width: 1300px;
  height: 100%;
  margin: 0 auto;
  z-index: 2;
}
.hero__text {
  width: 90%;
  max-width: 700px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  color: #fff;
}
.hero__heading {
  max-width: 90%;
  font-weight: 600;
  font-size: 32px;
}
.hero__description {
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
}
.hero__buttons {
  display: flex;
  gap: 1rem;
  justify-content: flex-start;
  align-items: center;
}
.hero__button {
  padding: 1.5rem;
  font-size: 16px;
  text-decoration: none;
  color: #fff;
  background-color: #B80000;
  border: 2px solid #B80000;
  border-radius: 1.2rem;
  width: 155px;
  text-align: center;
  transition: 0.3s ease-in-out;
  font-weight: 600;
  cursor: pointer;
}
.hero__button:hover {
  background-color: #fff;
  color: #B80000;
  transform: translateY(-8px);
  border-color: #fff;
}
.hero__button--empty {
  background-color: transparent;
  border: 2px solid #fff;
}

.about {
  position: relative;
  padding-bottom: 3rem;
}
.about::before {
  content: "";
  width: 100%;
  height: 6rem;
  background-color: #fff;
  border-top-right-radius: 100rem;
  position: absolute;
  top: -6rem;
  left: 0;
}
.about__wrapper {
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  padding: 0 2rem;
  justify-content: center;
}
.about__subheading {
  margin-bottom: -1.5rem;
}
.about__image {
  width: 100%;
  max-width: 600px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1rem;
}
.about__text {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  max-width: 600px;
  margin-bottom: 2rem;
}
.about__description {
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.03rem;
}
.about__link {
  color: #fff;
  background-color: #B80000;
  padding: 1rem;
  border-radius: 1.2rem;
  width: -moz-fit-content;
  width: fit-content;
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  display: block;
  border: 2px solid #B80000;
  transition: 0.3s all ease-in-out;
}
.about__link:hover {
  background-color: #fff;
  color: #B80000;
}

.services {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #f8f8f8;
}
.services__wrapper {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 2rem;
}
.services__subheading, .services__heading {
  text-align: center;
  margin: 0 auto;
}
.services__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  margin-top: 3rem;
  gap: 3rem;
}
.services__item {
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 8px;
  background-color: #fff;
}
.services__image {
  width: 58px;
}
.services__title {
  font-size: calc(14px + 0.4rem);
}
.services__description {
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.03rem;
}
.services__link {
  font-size: 14px;
  color: #B80000;
  text-decoration: none;
  font-weight: 600;
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
}
.services__link::after {
  content: "";
  width: 0;
  height: 2px;
  position: absolute;
  bottom: -0.4rem;
  left: 0;
  background-color: #B80000;
  opacity: 0.8;
  transition: 0.3s ease-in-out;
}
.services__link:hover::after {
  width: 100%;
}

.portfolio {
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.portfolio__wrapper {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 2rem;
}
.portfolio__subheading {
  text-align: center;
}
.portfolio__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 3rem;
  gap: 3rem;
}
.portfolio__intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.portfolio__all {
  border: 2px solid #B80000;
  color: #B80000;
  padding: 1rem;
  border-radius: 1.2rem;
  font-size: 14px;
  text-decoration: none;
  font-weight: 600;
  transition: 0.3s ease-in-out;
}
.portfolio__all:hover {
  background-color: #B80000;
  color: #fff;
}
.portfolio__item {
  width: 100%;
  max-width: 350px;
  position: relative;
  border-radius: 0.8rem;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 3px 8px;
  overflow: hidden;
}
.portfolio__image {
  width: 100%;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
}
.portfolio__info {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.portfolio__name {
  font-size: calc(14px + 0.2rem);
}
.portfolio__description {
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.03rem;
}
.portfolio__location {
  color: #0F0E11;
  font-size: 14px;
}
.portfolio__link {
  font-size: 14px;
  color: #B80000;
  font-weight: 600;
  text-decoration: none;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
}
.portfolio__link::after {
  content: "";
  width: 0;
  height: 2px;
  position: absolute;
  bottom: -0.4rem;
  left: 0;
  background-color: #B80000;
  opacity: 0.8;
  transition: 0.3s ease-in-out;
}
.portfolio__link:hover::after {
  width: 100%;
}

.faq {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #f8f8f8;
}
.faq__wrapper {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 2rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}
.faq__image {
  width: 100%;
  max-width: 550px;
  border-radius: 1rem;
  -o-object-fit: cover;
     object-fit: cover;
  display: none;
}
.faq__questions {
  width: 100%;
  max-width: 550px;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.faq__block {
  position: relative;
}
.faq__block::after {
  content: "";
  width: 100%;
  height: 1px;
  position: absolute;
  bottom: -0.8rem;
  left: 0;
  background-color: #ccc;
  opacity: 0.8;
}
.faq__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.faq__question {
  font-size: calc(14px + 0.2rem);
  margin-bottom: 1rem;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.faq__text {
  margin-top: 2rem;
}
.faq__button {
  background-color: #B80000;
  color: #fff;
  padding: 1rem;
  border-radius: 100rem;
  font-size: 1.5rem;
  transition: 0.3s ease-in-out;
  width: 35px;
  height: 35px;
}
.faq__button--active {
  transform: rotate(90deg);
}
.faq__answer {
  font-size: 14px;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
  line-height: 1.5;
  letter-spacing: 0.03rem;
}
.faq__answer--active {
  max-height: 200px;
  opacity: 1;
}

.contact {
  padding-top: 3rem;
  padding-bottom: 6rem;
}
.contact__wrapper {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.contact__text {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 550px;
}
.contact__subheading {
  margin-bottom: -1.5rem;
}
.contact__description {
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.03rem;
}
.contact__links {
  display: flex;
  justify-content: flex-start;
  gap: 2rem;
  align-items: center;
  flex-wrap: wrap;
}
.contact__icon {
  color: #B80000;
  font-size: 2rem;
}
.contact__link {
  text-decoration: none;
  padding: 1.5rem;
  border-radius: 1.2rem;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 3px 8px;
  color: #313131;
  font-size: 14px;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 0.8rem;
  transition: 0.3s ease-in-out;
}
.contact__link:hover {
  transform: translateY(-8px);
  box-shadow: rgba(0, 0, 0, 0.18) 0px 3px 8px;
}
.contact__form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  margin-top: 2rem;
  border-radius: 1.2rem;
  max-width: 550px;
}
.contact__input-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.contact__input {
  padding: 1rem;
  border: none;
  border-bottom: 1px solid #ccc;
  outline: none;
  color: #000;
  font-size: 14px;
  width: 100%;
}
.contact__input--textarea {
  height: 150px;
  max-height: 150px;
  resize: none;
}
.contact__input::-moz-placeholder {
  color: #313131;
}
.contact__input::placeholder {
  color: #313131;
}
.contact__error {
  color: red;
  font-size: 14px;
}
.contact__group {
  display: flex;
  width: 100%;
  gap: 2rem;
  flex-wrap: wrap;
}
.contact__group--checkbox {
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 1rem;
}
.contact__checkbox {
  width: 25px;
  height: 25px;
  border: 1px solid #ccc;
  border-radius: 0.2rem;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.contact__checkbox:hover {
  border-color: #B80000;
}
.contact__privacy-link {
  color: #B80000;
  text-decoration: none;
  transition: 0.3s ease-in-out;
}
.contact__privacy-link:hover {
  text-decoration: underline;
}
.contact__label {
  font-size: 14px;
  color: #000;
  margin-bottom: 0.5rem;
}
.contact__button {
  background-color: #B80000;
  padding: 1.2rem;
  font-size: 14px;
  border: none;
  outline: none;
  color: #fff;
  border-radius: 1.2rem;
  font-weight: 600;
  cursor: pointer;
  width: -moz-fit-content;
  width: fit-content;
  transition: 0.3s ease-in-out;
  border: 2px solid #B80000;
}
.contact__button:hover {
  background-color: #fff;
  color: #B80000;
}
.contact__title {
  font-size: calc(14px + 0.2rem);
}

.footer {
  background-color: #090909;
}
.footer__wrapper {
  max-width: 1300px;
  margin: 0 auto;
  padding: 2rem 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}
.footer__column {
  width: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.footer__heading {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
}
.footer__logo {
  max-width: 100px;
}
.footer__text {
  color: #ccc;
  font-size: 14px;
}
.footer__list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  list-style: none;
}
.footer__link {
  color: #ccc;
  text-decoration: none;
  font-size: 14px;
  transition: 0.3s ease-in-out;
}
.footer__link:hover {
  color: #fff;
}
.footer__socials {
  display: flex;
  gap: 1rem;
}
.footer__bottom {
  max-width: 1300px;
  margin: 0 auto;
  width: 90%;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  position: relative;
}
.footer__bottom::before {
  position: absolute;
  content: "";
  width: 95%;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 1px;
  background-color: #ccc;
  opacity: 0.3;
}
.footer__copyright {
  color: #ccc;
  font-size: 14px;
}
.footer__privacy {
  color: #ccc;
  text-decoration: none;
  font-size: 14px;
}

@media (min-width: 768px) {
  .mobile-nav__menu {
    max-width: 350px;
  }
  .mobile-nav__link {
    font-size: calc(14px + 0.2rem);
  }
  .faq__image {
    display: block;
  }
  .footer__column {
    width: 50%;
    padding: 4rem;
  }
  .footer__bottom {
    padding: 4rem;
  }
}
@media (min-width: 991px) {
  .nav {
    display: block;
  }
  .mobile-nav {
    display: none;
  }
}
@media (min-width: 1024px) {
  .hero {
    height: 90vh;
  }
  .hero__wrapper {
    width: 90%;
  }
  .hero__description {
    font-size: 18px;
  }
  .hero__button {
    font-size: 16px;
  }
  .hero__heading {
    font-size: 62px;
  }
  .hero__text {
    left: 0;
    transform: translate(0, -50%);
  }
  .about {
    padding-bottom: 5rem;
  }
  .about::before {
    height: 10rem;
    top: -10rem;
  }
  .about__wrapper {
    justify-content: space-between;
  }
  .about__image {
    width: 40%;
    max-width: 550px;
  }
  .about__text {
    width: 60%;
    margin-bottom: 0;
  }
  .about__description {
    font-size: 16px;
  }
  .about__link {
    font-size: 16px;
  }
  .services {
    padding-bottom: 5rem;
    padding-top: 5rem;
  }
  .services__items {
    gap: 3rem;
    justify-content: space-evenly;
  }
  .services__question {
    font-size: calc(16px + 0.2rem);
  }
  .services__description {
    font-size: 16px;
  }
  .services__link {
    font-size: 16px;
  }
  .portfolio {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
  .portfolio__intro {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
  .portfolio__subheading {
    text-align: left;
  }
  .portfolio__all {
    font-size: 16px;
  }
  .portfolio__name {
    font-size: calc(16px + 0.2rem);
  }
  .portfolio__description {
    font-size: 16px;
  }
  .portfolio__location {
    font-size: calc(16px - 0.2rem);
  }
  .portfolio__link {
    font-size: 16px;
  }
  .faq {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
  .faq__wrapper {
    justify-content: space-between;
  }
  .faq__image {
    margin-bottom: 0;
    min-height: 470px;
    width: 38%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .faq__text {
    margin-top: 0;
  }
  .faq__question {
    font-size: calc(16px + 0.2rem);
  }
  .faq__answer {
    font-size: 16px;
  }
  .faq__button {
    font-size: 2rem;
    width: 40px;
    height: 40px;
  }
  .contact {
    padding-bottom: 5rem;
  }
  .contact__description, .contact__link {
    font-size: 16px;
  }
  .contact__form {
    width: 50%;
    margin-top: 0;
    padding: 3rem;
  }
  .contact__text {
    width: 50%;
    max-width: 550px;
  }
  .contact__input {
    font-size: 16px;
  }
  .contact__title {
    font-size: calc(16px + 0.2rem);
  }
  .contact__group {
    flex-wrap: nowrap;
  }
  .contact__button {
    font-size: 16px;
  }
  .contact__label {
    font-size: 16px;
  }
  .footer__column {
    width: 20%;
    padding: 4rem;
  }
  .footer__column:nth-of-type(1) {
    width: 30%;
  }
  .footer__heading {
    font-size: calc(16px + 0.2rem);
  }
  .footer__text {
    font-size: 16px;
  }
  .footer__link {
    font-size: 16px;
  }
  .footer__bottom {
    justify-content: space-between;
  }
  .footer__copyright {
    font-size: 16px;
  }
  .section__subheading {
    font-size: calc(14px + 0.5rem);
  }
  .section__heading {
    font-size: 40px;
    max-width: 600px;
  }
}
@media (min-width: 1150px) {
  .portfolio__items {
    justify-content: space-between;
  }
  .faq__image {
    width: 40%;
  }
}
